from pytube import YouTube

url = input('Enter URL video: ')
while True :
    try :
        yt = YouTube(url)
        break
    except :
        print("Connection Error or The URL is corect")
        print("")
        url = input("try again:")
        print("")


    
mp34 = input("Enter [mp3 or mp4]: ")
#المشكلة في عرض الجودات ، يعني بيعضر ٣ جودات 
#واحده بس هي الي با تشتغل مثلا 
#محتاج تدرس اكتر عن streams و تعرف تعرض 
#الجودات الي ممكن تتحمل بس 
if mp34 == 'mp4' :
    print("Available resolution is")
    for i in yt.streams.filter(progressive=True):
        
        print(str(i.resolution))
'''         
if mp34 == 'mp3' :
    for i in yt.streams.filter(progressive=True):
        print(str(i.resolution)) 
'''
path='Download/'

def DownloadV (resolu):
    return yt.streams.filter(progressive=True).get_by_resolution(resolu).download(path)
    
X = input("Enter the resolution: ")
resolu = str(X + 'p')
DownloadV(resolu)

print('Task Completed!')


